/*//////////////////////////////////////////////////////////////////
[ Num Product ]*/
.wrap-num-product {
    width: 140px;
    height: 45px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .btn-num-product-up,
  .btn-num-product-down {
    width: 45px;
    height: 100%;
    cursor: pointer;
  }
  
  .num-product {
    width: calc(100% - 90px);
    height: 100%;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: #f7f7f7;
  }
  
  input.num-product {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
  }
  
  input.num-product::-webkit-outer-spin-button,
  input.num-product::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }