	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1 rs2-slick1">
			<div class="slick1">
				<div class="item-slick1 bg-overlay1" style="background-image: url(assets/images/slide-05.jpg);" data-thumb="assets/images/thumb-01.jpg" data-caption="Prêt à porter Femme">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									Collection Femme 2018
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="swing" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									Nouvel arrivage
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="product.html" class="flex-c-m cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Consulter
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1 bg-overlay1" style="background-image: url(assets/images/slide-06.jpg);" data-thumb="assets/images/thumb-02.jpg" data-caption="Prêt à porter Homme">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									Nouvelle saison Homme
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="swing" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									Vestes & Manteaux
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="product.html" class="flex-c-m cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Consulter
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1 bg-overlay1" style="background-image: url(assets/images/slide-07.jpg);" data-thumb="assets/images/thumb-03.jpg" data-caption="Prêt à porter Enfant">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									Collection Enfant 2018
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="swing" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									Nouvel arrivage
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="product.html" class="flex-c-m cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Consulter
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap-slick1-dots p-lr-10"></div>
		</div>
	</section>
